<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script>
        var entries = JSON.parse({{ data|tojson|safe }});
        var cat = JSON.parse({{ cat|tojson|safe }});
    </script>
</head>
<body>
<h1>Urlaubskalender <span id="jahreszahl">{{ jahreszahl }}</span></h1>
<div class="wrapper">
    {% for monat in jahr %}
        {% set outer_loop = loop %}
        <div class="monat">
            <h3>{{ monate[loop.index0] }} </h3>
            {% for tag in monat %}
                <div class="tag  {{ monat[tag][0] }} {{ monat[tag][2] }}" id="d{{ tag }}m{{ outer_loop.index }}">
                    {{ tag }} {{ monat[tag][0][0:2] }} {{ monat[tag][3][0:8] }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<div id="cat_info"></div>
<div class="add_cat">
    Cat: <input type="text" id="cat_name" name="CatName"><br/>
    Value: <input type="text" id="cat_value" name="CatCol"><br/>
    Color: <input type="text" id="cat_color" name="CatName"><br/>
<input type="submit" onclick="addCat()">
</div>


</body>
</html>